<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8">
	  	<meta name="viewport" content="width=device-width, initial-scale=1">
	  	<link href="/static/css/bootstrap.css" rel="stylesheet">
	  	<link rel="stylesheet" href="/static/css/admin.css">
	  	<link rel="stylesheet" href="/static/css/messenger.css">
		<link rel="stylesheet" href="/static/css/messenger-theme-air.css">
		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/messenger.min.js"></script>
	  	<script src="/static/js/backbone-min.js"></script>
	  	<script src="/static/js/main.js"></script>
	  	<title>中投天诚客户管理系统</title>
	</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  		<div class="container">
    		<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
  			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        			<span class="sr-only">Toggle navigation</span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
  			</button>
  			<a class="title navbar-brand" href="#">中投天诚客户管理系统</a>
			</div>
    		<!-- Collect the nav links, forms, and other content for toggling -->
    		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      		<ul class="nav navbar-nav">
	      		</ul>
      			<div class="pull-right">
	    			<ul class="nav navbar-nav">
	    				<li><a href=""><span class="badge" id="message">15</span></a></li>
	    				<li><a href="/admin?exit=true">退出</a></li>
	    				<li><a href="/admin/dowload">下载</a></li>
	    			</ul>
    			</div>
    		</div><!-- /.navbar-collapse -->
  		</div><!-- /.container-fluid -->
	</nav>
	<div class="container">
		<h1 class="col-lg-offset-5">客户资料</h1>
	     <table class="table table-striped">
	     	<thead> 
	     		<tr>
	     			<th>#</th>
	     			<th>姓名</th>
	     			<th>贷款金额</th>
	     			<th>联系电话</th>
	     			<th>时间</th>
	     			<th>操作</th>
	     		</tr>
	     	</thead>
			{{range .paginator.users}}
			<tbody>
				<th>{{.Id}}</th>
     			<th>{{.Name}}</th>
     			<th>{{.Account}}万</th>
     			<th>{{.PhoneNum}}</th>
     			<th>{{.Created}}</th>
     			<th>
     				<a  class="btn btn-default" href="">删除</a>
     			</th>
			</tbody>
			{{end}}
	     </table>
	</div>
	<nav class="pag">
	  <ul class="pagination pagination-lg">
	  	<li class=""><a href="/admin/?p={{.paginator.firstpage}}">&laquo;</a></li>
		<li> <a href="/admin/?p=1">首页</a></li>
	  	{{range $index,$page := .paginator.pages}}
	    <li  {{if eq $.paginator.currpage $page }}class="active"{{end}}>
	    	<a href="/admin/?p={{$page}}">{{$page}}</a></li>  
	    {{end}}
	    <li><a href="/admin/?p={{.paginator.totalpages}}">尾页</a></li>
	    <li><a href="/admin/?p={{.paginator.lastpage}}">&raquo;</a></li>
	  </ul>
	   <ul>共{{.paginator.totals}}条记录 共记{{.paginator.totalpages}}页</ul>
	</nav>
	<audio src="/static/audio/alert.ogg" autoplay="autoplay"></audio>
</body>
</html>